/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RUN_MOIRE' {
        // Assign a closure which returns a string
        ext.args = { [
                params.moire_allow_relatedness ?       "--allow_relatedness ${params.moire_allow_relatedness}" : '',
                params.moire_burnin ?                  "--burnin ${params.moire_burnin}" : '',
                params.moire_samples_per_chain ?       "--samples_per_chain ${params.moire_samples_per_chain}" : '',
                params.moire_verbose ?                 "--verbose ${params.moire_verbose}" : '',
                params.moire_eps_pos_alpha ?           "--eps_pos_alpha ${params.moire_eps_pos_alpha}" : '',
                params.moire_eps_pos_beta ?            "--eps_pos_beta ${params.moire_eps_pos_beta}" : '',
                params.moire_eps_neg_alpha ?           "--eps_neg_alpha ${params.moire_eps_neg_alpha}" : '',
                params.moire_eps_neg_beta ?            "--eps_neg_beta ${params.moire_eps_neg_beta}" : '',
                params.moire_r_alpha ?                 "--r_alpha ${params.moire_r_alpha}" : '',
                params.moire_r_beta ?                  "--r_beta ${params.moire_r_beta}" : '',
                params.moire_mean_coi_shape ?          "--mean_coi_shape ${params.moire_mean_coi_shape}" : '',
                params.moire_mean_coi_scale ?          "--mean_coi_scale ${params.moire_mean_coi_scale}" : '',
                params.moire_max_eps_pos ?             "--max_eps_pos ${params.moire_max_eps_pos}" : '',
                params.moire_max_eps_neg ?             "--max_eps_neg ${params.moire_max_eps_neg}" : '',
                params.moire_record_latent_genotypes ? "--record_latent_genotypes ${params.moire_record_latent_genotypes}" : '',
                params.moire_num_chains ?              "--num_chains ${params.moire_num_chains}" : '',
                params.moire_num_cores ?               "--num_cores ${params.moire_num_cores}" : '',
                params.moire_pt_chains ?               "--pt_chains ${params.moire_pt_chains}" : '',
                params.moire_pt_grad ?                 "--pt_grad ${params.moire_pt_grad}" : '',
                params.moire_pt_num_threads ?          "--pt_num_threads ${params.moire_pt_num_threads}" : '',
                params.moire_adapt_temp ?              "--adapt_temp ${params.moire_adapt_temp}" : '',
                params.moire_max_runtime ?             "--max_runtime ${params.moire_max_runtime}" : ''
        ].join(' ') }
    }
}
