/*
    default moire parameters
*/

params {
    moire_allow_relatedness = null
    moire_burnin = null
    moire_samples_per_chain = null
    moire_verbose = null
    moire_eps_pos_alpha = null
    moire_eps_pos_beta = null
    moire_eps_neg_alpha = null
    moire_eps_neg_beta = null
    moire_r_alpha = null
    moire_r_beta = null
    moire_mean_coi_shape = null
    moire_mean_coi_scale = null
    moire_max_eps_pos = null
    moire_max_eps_neg = null
    moire_record_latent_genotypes = null
    moire_num_chains = null
    moire_num_cores = null
    moire_pt_chains = null
    moire_pt_grad = null
    moire_pt_num_threads = null
    moire_adapt_temp = null
    moire_max_runtime = null
}
